.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.logo:hover {
    transform: scale(1.1); /* Slightly increase the size on hover */
  }
.navbar .profile{
    width: 40px;
}